@import "src/variables";

.Panel {
  display: flex;
  width: 100%;
  flex-wrap: wrap;

  &.vertical {
    height: auto;
    width: 48px;
    min-width: 48px;
  }

  background-color: $panelBackground;
  box-sizing: border-box;
}
