.Print {
  background-color: #e7e7e7;

  .Paper {
    min-height: 100vh;
    margin: 0 auto;
    width: 21cm;
    background-color: white;
    padding: 1cm;
    box-shadow: 0 0 15px rgba(0, 0, 0, .5);

    @media print {
      width: 100%;
      padding: 0;
      box-shadow: none;
    }
  }
}
