.print {
  background-color: #e7e7e7;

  @media print {
    background-color: transparent;
  }

  .Panel {
    top: 0;
    position: fixed;
    z-index: 2;

    @media print {
      display: none;
    }
  }

  .paper {
    width: 21cm;
    margin: 0 auto;
    padding-top: 40px;

    .page {
      page-break-inside: avoid;
      display: block;
      box-sizing: border-box;
      margin-bottom: 1rem;
      background-color: white;
      height: 27.9cm;
      box-shadow: 0 0 15px rgba(0, 0, 0, .5);
      padding: 1cm;

      > div {
        width: 100%;
        height: 100%;
      }

      .canvas {
        margin: 0 auto;
        display: flex;
        width: 100%;
        height: 100%;

        canvas {
          background-color: transparent;
        }
      }
    }


    @media print {
      width: 100%;
      padding: 0;
      box-shadow: none;
    }
  }
}
