.app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex: 1 auto;
  flex-direction: column;

  .mainArea {
    display: flex;
    flex: 1 auto;

    .canvasContainer {
      display: flex;
      flex: 1 auto;
    }
  }
}

