.Palette {
  display: flex;
  flex-wrap: wrap;

  .colorBox {
    box-sizing: border-box;
    cursor: pointer;
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;

    &.selected {
      border: 2px dotted white;
    }
  }
}
