.Palette {
  display: flex;
  flex-wrap: wrap;

  .colorBox {
    box-sizing: border-box;
    cursor: pointer;
    height: 16px;
    width: 16px;

    &.selected {
      border: 2px solid magenta;
    }
  }
}
