.Palette {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;

  .colorBox {
    box-sizing: border-box;
    cursor: pointer;
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    font-family: Arial, serif;

    &.selected {
      border: 1px dotted white;
    }
  }
}
