@import "src/variables";

.scrollContainer {
  position: relative;
  display: flex;
  flex: 1 auto;
  width: 1px;
  overflow: hidden;
  flex-direction: column;

  .canvasContainer {
    position: relative;
    display: flex;
    flex: 1 auto;
    overflow: hidden;
    background-color: $panelBackground;

    .Canvas {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}


